@import "./vars.scss";

body {
  background-color: $baseColor;
}

#title {
  text-align: center;
  font-size: 40px;
  color: $mediumAccent;
  font-family: $lato;
  margin-bottom: 0px;
}

#counter-control-wrapper {
  display: flex;
  justify-content: center;

  @media screen and (max-width: $screenBreak) {
    justify-content: space-around;
  }
}
