@import "./vars.scss";

body {
  background-color: $baseColor;
}

#title {
  text-align: center;
  font-size: 40px;
  color: $mediumAccent;
  font-family: $lato;
}

#counter-control-wrapper {
  display: flex;
  justify-content: center;
}
