@import "vars.scss";

#sessionTime-timer-controls {
  margin-right: 100px;
}

.timer-control-name {
  font-size: 24px;
  color: $mediumAccent;
  font-family: $roboto;
}

.controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.timerTotal {
  font-size: 36px;
  color: $mediumAccent;
  font-family: $roboto;
}

.subtract-time, .add-time {
  cursor: pointer;
  width: 30px;
  height: 30px;
  font-size: 24px;
  color: $darkAccent;
  display: flex;
  justify-content: center;
  align-items: center;
}
